{% extends 'base.html.twig' %}

{% block body %}
    <h1>Syncs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sync in syncs %}
            <tr>
                <td><a href="{{ path('sync_show', { 'id': sync.id }) }}">{{ sync.id }}</a></td>
                <td>{% if sync.date %}{{ sync.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sync_show', { 'id': sync.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sync_edit', { 'id': sync.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sync_new') }}">Create a new sync</a>
        </li>
    </ul>
{% endblock %}
