{% extends 'backoffice.html.twig' %}

{% block content %}

<div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>TPE<small> Edition</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#" class="dropdown-item">Config option 1</a>
                                    </li>
                                    <li><a href="#" class="dropdown-item">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">



                        	{{ form_start(form) }}


                        		<div class="form-group row"><label class="col-sm-2 col-form-label">IMEI</label>
                                    <div class="col-sm-10">

                        				{{ form_widget(form.imei, {'attr': {'class': 'form-control'}}) }}

                                    	
                                    	<span class="form-text m-b-none">Adresse IMEI du TPE</span>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                 <div class="form-group row"><label class="col-sm-2 col-form-label">MAC</label>
                                    <div class="col-sm-10">
                        				{{ form_widget(form.mac, {'attr': {'class': 'form-control'}}) }}         
                                    	<span class="form-text m-b-none">Adresse MAC du TPE</span>
                                    </div>
                                </div>

						        
                                <div class="hr-line-dashed"></div>                               
                            
                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2">

                                        <!-- <a class="btn btn-danger btn-sm" href=" {{ path('delete_tpe', {'id': id } ) }} " > Supprimer </a> -->
                                                                       
                                        <button id="form_save" name="form[save]" class="btn btn-primary btn-sm"  type="submit" data-toggle="confirmation" data-message="Voulez-vous enregistere ce TPE" value="Enregistrement TPE">
                                            Enregistrer
                                        </button>

                                    </div>
                                </div>



						    {{ form_end(form) }}

                        </div>
                    </div>
                </div>
</div> 

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('[data-toggle="confirmation"][data-message]').on('click', function (event) {
            var message = $(this).data('message');

            return confirm(message) || event.preventDefault();
        });
    </script>
{% endblock %}
